modules = ["python-3.11", "nodejs-20", "web"]

[nix]
channel = "stable-25_05"
packages = ["glibcLocales", "libxcrypt", "openssl", "postgresql", "unzip"]

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node start.cjs"
waitForPort = 5000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 8099

[[ports]]
localPort = 37617
externalPort = 8080

[[ports]]
localPort = 37725
externalPort = 9000

[[ports]]
localPort = 39249
externalPort = 6000

[[ports]]
localPort = 39939
externalPort = 3002

[[ports]]
localPort = 41911
externalPort = 6800

[[ports]]
localPort = 42533
externalPort = 3000

[[ports]]
localPort = 43087
externalPort = 8000

[[ports]]
localPort = 44531
externalPort = 8008

[[ports]]
localPort = 45463
externalPort = 5173

[[ports]]
localPort = 45551
externalPort = 8081

[[ports]]
localPort = 46367
externalPort = 5000

[[ports]]
localPort = 46475
externalPort = 4200

[[ports]]
localPort = 46527
externalPort = 3003

[agent]
integrations = ["javascript_websocket:1.0.0", "javascript_openai:1.0.0", "javascript_database:1.0.0"]
expertMode = true
